
<div class="container-fluid">
	
	<div class="row spacerTop50px">

		<!-- Title -->
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<h1><strong>RECIPE</strong>SEARCH V2</h1>
			<p class="indexSubtitle">Powered by Food2Fork.com</p>
		</div>



		<!-- Search -->
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

			<%= form_tag @recipe do%>

				<!-- search field -->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 spacerTop10px">				

						<%= text_field_tag :looking_for, nil, placeholder: "Enter your ingredients: chicken asparagus paprika etc", class: "form-control" %>
					
				</div>

				<!-- spacer -->
				<div class="col-lg-7 col-md-4 col-sm-0 col-xs-0 spacerTop10px">

				</div>	

				<!-- search button -->
				<div class="col-lg-5 col-md-8 col-sm-12 col-xs-12 spacerTop10px">
					<%= submit_tag("Search For Recipes", :class=>"btnRed btn btn-block") %>

				</div>	

			<% end %>

		</div>

	</div>	

	<div class="row">
		<div class="col-lg-12 col-md- col-sm-12 col-xs-12 text-xs-center spacerTop30px">
			<strong><h4>Search results for "<%= @search_term %>" </h4></strong>
		</div>
	</div>

	<% if (@recipes.nil? or @recipes == []) %>

		<p><h2>No recipes found... Sorry</h2></p>

	<% else %>

		<!-- Recipe Listing -->
		<div class="card-columns text-xs-center">

			<% @recipes.each do |course| %>

				<div class = "card indexRecipeCard shadowEffect">

					<!-- image -->

					<div class = "recipeCardImage">					
						
						<!-- save button -->
						<div class = "recipeCardImageHoverContainer">

							<div class ="recipeCardIconContainer">

								<a href="" title="Save to your recipe list" class="btn btnRed">Save</a>

							</div>
						</div>	

						<!-- image -->
						<%= link_to(image_tag(course["image_url"], class: "card-img-top img-responsive text-center width-100-percent"),recipedetail_path(recipeid: course["recipe_id"])) %> 

					</div>
						
					<!-- recipe name -->
					<div class="card-block indexRecipeTitle text-xs-center">

						<%= link_to(course["title"].html_safe,recipedetail_path(recipeid: course["recipe_id"]))%>

					</div>					
				
				</div> 
			
			<% end %>	
				
		</div> 

	<% end %>	

</div>


