<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Search</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://cdnjs.cloudfare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<!-- navigation bar v2-->
  	<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  		<div class="nav navbar-nav">
  		<a class = "nav-item nav-link active" href="#">Home<span class ="sr-only">(current)</span></a>
  		<a class = "nav-item nav-link active" href="#">About</a>
  		<p class="navbar-text pull-right">
			<% if user_signed_in? %>

				Logged in as <strong><%= current_user.email %></strong>
				<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
				<%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link' %>	

			<% else %>

				<%= link_to 'Sign up', new_user_registration_path, :class => 'navbar-link' %>
				<%= link_to 'Login', new_user_session_path, :class => 'navbar-link' %>
			
			<% end %>		
  	</nav>

  	<!-- content -->
  	
	<div class="container">

		<div class="row">

			<!-- center content -->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 spacerTop50px">
    			
				<% if notice %>
					<p class ="alert alert-success"><%= notice %></p>					
				<% end %>		

				<% if alert %>
					<p class = "alert alert-danger"><%= alert %></p>
				<% end %>

    			<%= yield %>

			</div>

		</div>
		<footer>
			<div class="container text-xs-center spacerBottom20px">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					Huang Yanying 2016
				</div>
			</div>
		</footer>

  	<script src ="https://use.fontawesome.com/6c949d1685.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"></script>	

	<script>

		$('#myModal').on('show.bs.modal', function (event) {
	  		
	  		var button = $(event.relatedTarget) // Button that triggered the modal
	  		var recipeID = button.data('recipeid') // Extract recipe ID


	  		// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
	  		

	  		// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
	  		var modal = $(this)
	  			  		
	  		modal.find("#myModalTitle").html("<%= @recipe_details["recipe"]["title"] %>")
	  		modal.find('.modal-body').html("<%= escape_javascript(render 'recipes/modal') %>") 
	  		
	  		//modal.find('.modal-body').text('The recipe is ' + recipeID + " and ingredients are " )
	  		//modal.find('.modal-body input').val(recipient)
		})



	</script>		

</body>

</html>
